# Testando API n2yo

**Links**

- https://www.n2yo.com/api/

In [1]:
%load_ext autoreload

%autoreload 2

# N2YO

In [2]:
import datetime
from datetime import timezone

import pandas as pd

from tracker.satellite import Satellite
from tracker.tle_getter import get_az_el, get_tle

In [3]:
OBS_LAT = -15.989620
OBS_LON = -48.044411
OBS_ALT = 500

norad_id = 25544

N_POINTS = 1000
n2yo_az, n2yo_el, n2yo_dates = get_az_el(OBS_LAT, OBS_LON, OBS_ALT, norad_id=norad_id, seconds=N_POINTS)
print('n2yo_az = {}...'.format(n2yo_az[:5]))
print('n2yo_el = {}...'.format(n2yo_el[:5]))
print('n2yo_dates = {}...'.format(n2yo_dates[:5]))

n2yo_az = [91.07, 91.14, 91.22, 91.29, 91.37]...
n2yo_el = [-64.01, -64.02, -64.03, -64.04, -64.06]...
n2yo_dates = [datetime.datetime(2018, 11, 17, 0, 50, 59, tzinfo=datetime.timezone.utc), datetime.datetime(2018, 11, 17, 0, 51, tzinfo=datetime.timezone.utc), datetime.datetime(2018, 11, 17, 0, 51, 1, tzinfo=datetime.timezone.utc), datetime.datetime(2018, 11, 17, 0, 51, 2, tzinfo=datetime.timezone.utc), datetime.datetime(2018, 11, 17, 0, 51, 3, tzinfo=datetime.timezone.utc)]...

In [4]:
iss_tle = get_tle(norad_id=25544)
print('iss_tle = \n{}'.format(iss_tle))
iss = Satellite(*iss_tle)

az_error = []
el_error = []

for i in range(len(n2yo_az)):
    az, el = iss.get_observer_azimuth_elevation(OBS_LAT, OBS_LON, OBS_ALT, date=n2yo_dates[i])
    
    azimuth_error = abs(az - n2yo_az[i])
    elevation_error = abs(el - n2yo_el[i])
    
    az_error.append(azimuth_error)
    el_error.append(elevation_error)

iss_tle =
('1 25544U 98067A   18320.95340301  .00001775  00000-0  34251-4 0  9998', '2 25544  51.6414 337.4379 0005125  55.0744  13.6082 15.53976211142273')

# Comparando o erro do sgp4 com o N2YO

In [5]:
df_error = pd.DataFrame({'Azimuth absolute error': az_error, 'Elevation absolute error': el_error})
display(df_error.head())
display(df_error.describe())

   Azimuth absolute error  Elevation absolute error
0                0.078915                  0.018367
1                0.074446                  0.015817
2                0.079928                  0.013294
3                0.075356                  0.010796
4                0.080732                  0.018324

       Azimuth absolute error  Elevation absolute error
count             1000.000000               1000.000000
mean                 0.084323                  0.008624
std                  0.006666                  0.005076
min                  0.066607                  0.000003
25%                  0.079389                  0.004524
50%                  0.085475                  0.008415
75%                  0.089442                  0.012311
max                  0.096037                  0.021301